<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <table>
        <tr>
            <td>MÜŞTERİ ADI</td>
            <td>MÜŞTERİ E-MAİLİ</td>
            <td>MÜŞTERİ TELEFON</td>
            <td>MÜŞTERİ DESTEK DURUMU</td>
        </tr>
        <tr>
            <td>MERT ALİ CİRHİN</td>
            <td>mert_ali_cir58@hotmail.com</td>
            <td>0552 581 58 09</td>
            <td>
                <select name="status">
                    <option value="solved">Çözüldü</option>
                    <option value="pending">Çözüm Bekliyor</option>
                    <option value="unsolved">Sorun Çözülemedi</option>
                </select>
            </td>
        </tr>
    </table>
</body>
</html>