<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>İLETİŞİM</title>
</head>
<body>
  <h1>İLETİSİM SAYFASI</h1>,
  <h1 style="color: red;">MUHAMMET BU SENDE</h1>
</body>
</html>